---
import '../styles/global.css';

import Button from './Button.astro';
---
<div class="horizontal-boxes">
<Button title="Le jeu sérieux" href="" />
<Button title="L'audiovisuel" href=""/>
<Button title="Notre offre" href="" />
<Button title="Notre approche" href="" />
<Button title="Nous soutenir" href="" />
</div>